<div class="dpa-modal container-fluid">
    <form name="formAssessment" id="formAssessment" class="dpa-modal-form" role="form">
        <div class="row">
            <div class="col-md-12">
                <label for="question" class="dpa-label">Question</label>
                <textarea type="text" name="instructions" ng-model="vm.question.description" 
                    class="form-control" required />
            </div>
            <div class="col-md-12">
                <label class="dpa-label">Category</label>
                <select class="form-control" 
                    ng-options="cat.category for cat in vm.allCategories"
                    ng-model="vm.question.category" >
                </select>  
            </div>
            <div class="col-md-12">
                <label class="dpa-label">Option Group</label>
                <select class="form-control" 
                    ng-options="opt.description for opt in vm.optiongroup"
                    ng-model="vm.question.optiongroup" >
                </select>  
            </div>
        </div>
    </form>
</div>