<div class="dpa-modal container-fluid">
        <form name="formAssessment" id="formAssessment" class="dpa-modal-form" role="form">
            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="dpa-label">Description</label>
                    <input type="text" name="description" ng-model="vm.questionnaire.description" 
                        class="form-control" required>
                </div>
                <div class="col-md-12">
                    <label for="instructions" class="dpa-label">Instructions</label>
                    <textarea type="text" name="instructions" ng-model="vm.questionnaire.instructions" 
                        class="form-control" required />
                </div>
            </div>
    
            <div class="modal-divider"></div>

            <div class="row table-responsive pre-scrollable">
                <div>
                    <button class="btn dpabtn-yellow" ng-click="vm.addQuestion();">Add Question</button>
                </div>

                <table class="dpa-table table table-striped">
                    <thead class="dpa-table-header">
                        <th>Question</th>
                        <th>Category</th>
                        <th>Type</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="question in vm.questions">
                            <td>{{ question.description }}</td>
                            <td>{{ question.category }}</td>
                            <td>{{ question.optiongroup }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>