
/* T Y P O G R A P H Y */ 
@font-face  {    
    font-family:  Lato-Regular;    
    src:  url(../fonts/Lato-Regular.woff);    
}
@font-face  {    
    font-family:  Lato-Black;    
    src:  url(../fonts/Lato-Black.woff);    
}
@font-face  {    
    font-family:  Lato-Bold;    
    src:  url(../fonts/Lato-Bold.woff);    
}

/* G L O B A L */

body {
    background: #F1F3FA;
}

.main-container {
    margin: 0;
}

/* bootstrap overrides */

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
