
/* T Y P O G R A P H Y */ 
@font-face  {    
    font-family:  Lato-Regular;    
    src:  url(../fonts/Lato-Regular.woff);    
}
@font-face  {    
    font-family:  Lato-Black;    
    src:  url(../fonts/Lato-Black.woff);    
}
@font-face  {    
    font-family:  Lato-Bold;    
    src:  url(../fonts/Lato-Bold.woff);    
}

/* G L O B A L */

body {
    font-family: Lato-Regular;
    background: #F1F3FA;
}

.main-container {
    margin: 0;
}

/* O V E R R I D E S */

/* bootstrap */ 

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* P A G E   S E C T I O N */

.dpa-content {
    padding-left: 300px;
}

.dpa-content .container-fluid {
    margin-right: 50px;
}
