<nav class="navbar navbar-default" ng-controller="UserSidebarController as toolbar">
    <div class="container-fluid">
        <div class="nav-hamburger" ng-click="toolbar.showSidebar()">
            <span class="fa fa-bars"></span>
        </div>
        <ul class="pull-right">
            <li><a ui-sref="app.user.settings" class="btn-out">
                <span class="fa fa-cog"></span>Account Settings
            </a></li>
            <li><a ng-click="" class="btn-out">
                <span class="fa fa-sign-out"></span>Sign Out
            </a></li>
        </ul>
    </div>
</nav>